In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from csv import writer

## 1.Data Extraction

In [ ]:
url= requests.get("https://www.jumia.co.ke/smartphones/?shipped_from=country_local#catalog-listing").text
soup=BeautifulSoup(url,'lxml')
item_list = soup.find_all('article',class_="prd _fb col c-prd",)

#item_list

for item in item_list:
    Productname= item.find('h3',class_='name')
    Price = item.find('div',class_='prc')
    print(Productname)
    print(Price)

In [22]:
#To remove the html tags
all_items=[]

for item in item_list:
    Productname= item.find('h3',class_='name')
    Price = item.find('div',class_='prc')
    
    print(Productname.text.strip())
    print(Price.text.strip())
    all_items.append((Productname.text.strip(),Price.text.strip()))

Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,Polar Black
KSh 10,299
Tecno Pop 6 6.1", 2GB RAM+32GB, 8MP, 4G (Dual Sim) 5000MAh -Lime Green
KSh 8,819
XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Grey
KSh 11,499
Oppo A83 64GB + 4GB RAM - 4G LTE Dual SIM -  5.7-inch,Red
KSh 9,990
Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SIM), 5000mAh, Quartz Cyan
KSh 10,696
XIAOMI Redmi 10 6.5'' Inches 4+128GB 50MP Rear Camera 4G Smartphone - Grey
KSh 18,799
XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Graphite Grey
KSh 14,799
Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4230mAh - Blue
KSh 14,278
Tecno Pova Neo, 6.8", 64GB+ 4GB (Dual SIM),4G LTE, 6000mAh, Obsidian Black
KSh 15,999
Nokia C1 2nd Edition, 5.45", 1GB +16GB - (DUAL SIM),Android 11, Blue
KSh 7,139
Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 19,299
Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 19,299
Tecno Pop 6 GO, 6", 32GB + 2GB RAM ,(Dual SIM), 4000mAh,  + CLASSIC GIFTS
KSh 9,445
Samsung Galaxy A03s – 6.5″ – 32GB + 3GB – Dual SIM - Black
KSh 13,699
Samsung Galaxy A13, 6.6", 128GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 21,699
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, Eco Black
KSh 22,399
XIAOMI Redmi 9C 6.53'', 4GB+128GB, 13MP+2MP+2MP Camera, 4G, Dual SIM - Lavender Purple
KSh 16,299
Samsung Galaxy A03 Core, 6.5" 32GB + 2G, 5000mAh,Dual Sim- (Black) Onyx
KSh 11,699
Oppo A83 64GB + 4GB RAM - 4G LTE Dual SIM -  5.7-inch,Black
KSh 9,790
Samsung Galaxy A23, 6.6″, 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 22,499
Itel A14 Plus, 4", 8GB + 1GB RAM, 2500mAh - Blue
KSh 4,443
Ulefone Note 6, 6.1", 32GB + 1GB RAM (Dual SIM), 3300mAh, Black
KSh 7,599
Samsung Galaxy A03, 6.5", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 15,299
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, Eco Black
KSh 22,599
Infinix HOT 12i, 6.6''{ 64GB+2GB Expandable To 4GBRAM} (Dual SIM), 4G LTE, 5000mAh,black
KSh 12,995
Samsung Galaxy A03 6.5" 3GB RAM+32GB ROM 48 MP //Dual SIM-Blue+FREE EARBUDS+C+W
KSh 13,990
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, MEMPHIS GREEN
KSh 22,750
Infinix Smart 6, 6.6", 2GB RAM, 32GB, Android 10, XOS 7.6, 5000mAh, 3G - Ocean Wave
KSh 10,695
XIAOMI Redmi 10C 6.71'', 4GB+128GB, 50MP+2MP Camera, 4G, Dual SIM - Blue
KSh 19,099
Tecno Spark 9T, 6.6", (64GB ROM + 4GB RAM) , {Dual Sim} , 5000mAh, 4G, QUANTUM BLACK
KSh 16,590
Itel A58 Lite, 6.3", 32GB + 2GB RAM (Dual SIM), 4000mAh, Blue Wave
KSh 8,255
Itel A33 Plus,,5.0" Screen Display(16GB+1GB),Fingerprint,(Dual Sim) Blue,,w.s"
KSh 6,160
Nokia G21 – 6.5″ – 128GB + 4GB – Dual SIM Nordic Blue
KSh 18,900
XIAOMI Redmi 9A 6.53", 2GB RAM+32GB, 5000mAh, Dual SIM, 4G LTE - Glacial Blue
KSh 11,499
Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SIM), 5000mAh +FREE GIFTS
KSh 11,100
Samsung Galaxy A03, 6.5", 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 15,299
XIAOMI Redmi 10C 6.71'', 4GB+64GB, 50MP+2MP Camera, 4G, 5000MAH Battery Dual SIM- Blue
KSh 16,499
Tecno Spark 8C 6.6" 64GB+ 2GB RAM Dual Sim, Black + Smart Watch + P.Bank
KSh 13,898
Samsung Galaxy A13, 6.6", 128GB + 4GB (Dual SIM), Blue + Smart Watch & Power Bank
KSh 22,997
Tecno Spark 8C 6.6" 64GB ROM + 2GB RAM, Dual Sim, Purple
KSh 12,999

In [ ]:
#To put the data in a dataframe
df = pd.DataFrame(all_items)
df.columns = ["product_name", "price"]

## 2.Data Assesment

In [23]:
df.head()

                                        product_name       price
0  Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,...  KSh 10,299
1  Tecno Pop 6 6.1", 2GB RAM+32GB, 8MP, 4G (Dual ...   KSh 8,819
2  XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000...  KSh 11,499
3  Oppo A83 64GB + 4GB RAM - 4G LTE Dual SIM -  5...   KSh 9,990
4  Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SI...  KSh 10,696

In [24]:
df.tail()

                                         product_name       price
35  Samsung Galaxy A03, 6.5", 64GB + 4GB RAM (Dual...  KSh 15,299
36  XIAOMI Redmi 10C 6.71'', 4GB+64GB, 50MP+2MP Ca...  KSh 16,499
37  Tecno Spark 8C 6.6" 64GB+ 2GB RAM Dual Sim, Bl...  KSh 13,898
38  Samsung Galaxy A13, 6.6", 128GB + 4GB (Dual SI...  KSh 22,997
39  Tecno Spark 8C 6.6" 64GB ROM + 2GB RAM, Dual S...  KSh 12,999

In [26]:
df.isna().sum()

product_name    0
price           0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  40 non-null     object
 1   price         40 non-null     object
dtypes: object(2)
memory usage: 768.0+ bytes

In [28]:
df.duplicated().sum()

0

## 3.Data Cleaning

1.To remove the 'ksh'symbol in the price column and to change the datatype to integer

In [30]:
df['price'] = df['price'].str[3:] 
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].astype(int)
df['price'].dtype

dtype('int32')

In [33]:
df['price'].tail()

35    15299
36    16499
37    13898
38    22997
39    12999
Name: price, dtype: int32

## 4.Feature Extraction